<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Javascript API</title>
</head>
<body>
  <h1>Sample order</h1>
  <form method="post" action="http://localhost:9292/order">
    <input type="hidden" value="1">

    <label for="amount">Amount</label>
    <input type="text" value="1" name="amount" id="amount">

    <input type="submit" value="Order">
  </form>
</body>
</html>
