<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CoffeeShop Administration</title>
    <%= stylesheet "application.css" %>
  </head>
  <body>
    <header>
      <h1>CoffeeShop Administration</h1>
    </header>
    
    <nav>
      <ul>
        <li>
          <%= link_to_page "Home", :index %>
        </li>
        <li>
          
        </li>
      </ul>
